<ion-content>
  <ion-back-button defaultHref="home"></ion-back-button>
  <div id="main">
    <ion-progress-bar id="barre" color="danger" value="{{ value }}"></ion-progress-bar>
    <div class="container">
      <h1 id="cat_quest">Catégorie</h1>

      <div *ngIf="tableauGeneral.length > 0">
        <div id="question">
          {{ this.tableauGeneral[this.themeId][this.rand].question }}
        </div>

        <button *ngFor="let response of this.tableauGeneral[this.themeId][this.rand].responses; index as i;" class="btn"
          (click)="onReponseClick($event)">
          {{ response }}
        </button>
      </div>
    </div>
    <timer></timer>
  </div>
</ion-content>