<ion-content>
  <ion-back-button defaultHref="home"></ion-back-button>
  <div id="main">
    <div class="container">
      <h1 id="cat_quest">Catégorie</h1>

      <div id="question">{{ tableauGeneral[theme][rand].question }}</div>

      <button class="btn" (click)="onReponseClick($event)">{{ tableauGeneral[theme][rand].reponse1 }}</button>
      <button class="btn" (click)="onReponseClick($event)">{{ tableauGeneral[theme][rand].reponse2 }}</button>
      <button class="btn" (click)="onReponseClick($event)">{{ tableauGeneral[theme][rand].reponse3 }}</button>
      <button class="btn" (click)="onReponseClick($event)">{{ tableauGeneral[theme][rand].reponse4 }}</button>
    </div>
  </div>
</ion-content>
