<ion-content>
  <ion-back-button defaultHref=""></ion-back-button>
  <div id="main">
    <div class="container">
      <h1>Se connecter</h1>

      <div class="txtb">
        <input class="" [(ngModel)]="inputEmail" type="text" id="login" />
        <span data-placeholder="Identifiant"></span>
      </div>

      <div class="txtb">
        <input class="" [(ngModel)]="inputPass" type="password" id="password" />
        <span data-placeholder="Mot de passe"></span>
      </div>

      <button id="login_btn" class="btn">Se connecter</button>

      <div class="bottom-text">Pas encore de compte? <br> Inscrivez-vous!<a [routerLink]="['/register']"> S'inscrire</a>
      </div>
    </div>
  </div>
</ion-content>