<ion-content>
  <ion-back-button defaultHref="home"></ion-back-button>
  <div id="main">
    <div class="container">
      <h1>Login</h1>

      <div class="txtb">
        <input class="" [(ngModel)]="inputEmail" type="text" id="login" />
        <span data-placeholder="Username"></span>
      </div>

      <div class="txtb">
        <input class="" type="password" id="password" />
        <span data-placeholder="Password"></span>
      </div>

      <button class="btn">Login</button>

      <div class="bottom-text">Don't have account? <a [routerLink]="['/register']">Sign up</a></div>
    </div>
  </div>
</ion-content>
