#buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: scroll;
  height: 60vh;
}

button {
  background: none;
  border: none;
  height: 30vw;
  width: 30vw;
  margin: 2rem 0.8rem;
  outline: none;
}

#js {
  height: 20vw;
  width: 20vw;
}

#webstory, #sinok, #angular {
  height: 25vw;
  width: 25vw;
}
