#buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

button {
  background: none;
  border: none;
  height: 30vw;
  width: 30vw;
  margin: 2rem .8rem;
}

#js {
  height: 20vw;
  width: 20vw;
}

#webstory {
  height: 25vw;
  width: 25vw;
}
