#main {
  text-align: center;
}

#txt_score {
  font-size: 3rem;
  padding-top: 2rem;
  color: aliceblue;
}

.container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#score {
  text-align: center;
  font-size: 3rem;
}

#score span {
  margin: 2rem 0;
  font-size: 4rem;
}

.btn{
  margin-top: -20vw;
  width: 40vw;
}

#button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg_won {
  background-image: url('https://ui-ex.com/images/rain-transparent-confetti-1.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.bg_med {
  background-image: url('https://media0.giphy.com/media/8lQyyys3SGBoUUxrUp/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.bg_loose {
  background-image: url('https://i.imgur.com/4PhyZKv.gif');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}