<ion-content>
  <div id="parent">
    <h1 id="title">Quizz Web</h1>
    <img
      class="cerveau"
      src="https://cdn.discordapp.com/attachments/586524955273854976/606052629457403905/cerveau.png"
      alt=""
    />
    <div id="button">
      <button [routerLink]="['/login']" class="designbtn" id="login">
        Login
      </button>
      <button [routerLink]="['/register']" class="designbtn" id="register">
        Register
      </button>
      <button [routerLink]="['']" class="designbtn" id="start">
        Start
      </button>
    </div>
    <div id="image">
      <img
        class="font"
        src="https://media2.giphy.com/media/xULW8l2gXuRPmsQe8U/source.gif"
        alt=""
      />
    </div>
  </div>
</ion-content>
