<ion-content scrollY="false">
  <audio loop autoplay src="../../assets/audio/2_100bpm.wav"></audio>
  <div id="parent">
    <h1 id="title">Quizz</h1>
    <img
      class="cerveau"
      src="../../assets/2099120-ffffff.svg"
      alt=""
    />
    <div id="button">
      <button [routerLink]="['/login']" class="designbtn" id="login">
        Se connecter
      </button>
      <button [routerLink]="['/register']" class="designbtn" id="register">
        S'inscrire
      </button>
    </div>
<!-- 
    <div id="image">
      <img
        class="font"
        src="https://media2.giphy.com/media/xULW8l2gXuRPmsQe8U/source.gif"
        alt=""
      />
    </div> -->
  </div>
</ion-content>
