<ion-content>
  <ion-back-button defaultHref="home"></ion-back-button>
  <div id="main">
    <div class="container">
      <h1>S'inscrire</h1>

      <div class="txtb">
        <input [(ngModel)]="inputEmail" type="text" id="login" />
        <span data-placeholder="Identifiant"></span>
      </div>

      <div class="txtb">
        <input [(ngModel)]="inputPass" type="password" id="password" />
        <span data-placeholder="Mot de passe"></span>
      </div>

      <div class="txtb">
        <input [(ngModel)]="inputCPass" type="password" id="c_password" />
        <span data-placeholder="Confirmation"></span>
      </div>

      <button id="signin" class="btn">S'inscrire</button>
    </div>
  </div>
</ion-content>