<ion-content>
  <ion-back-button defaultHref="home"></ion-back-button>
  <div id="form">
    <div class="login-form">
      <h1>Register</h1>

      <div class="txtb">
        <input [(ngModel)]="inputEmail" type="text" id="login" />
        <span data-placeholder="Username"></span>
      </div>

      <div class="txtb">
        <input type="password" id="password" />
        <span data-placeholder="Password"></span>
      </div>

      <div class="txtb">
        <input type="password" id="c_password" />
        <span data-placeholder="Confirm Password"></span>
      </div>

      <button class="logbtn">Sign in</button>
    </div>
  </div>
</ion-content>
